* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 60px;
}

.sidebar {
  width: 250px;
  margin-bottom: 40px;
  height: 100%;
  float: left;
}

.sidebar .profile-img {
  display: flex;
  justify-content: center;
}

.sidebar .profile-img > img {
  padding: 4px;
  border: 6px solid rgb(177, 177, 177);
  /* border-radius: 20%; */
  margin-bottom: 20px;
}

.sidebar .social-media {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.sidebar .fab {
  font-size: 25px;
  color: black;
}

.sidebar .fab:hover {
  font-size: 29px;
}

.sidebar .fa-facebook:hover {
  color: #0d8af0;
}

.sidebar .fa-twitter:hover {
  color: #1a8cd8;
}

.sidebar .fa-youtube:hover {
  color: red;
}

.sidebar .table-content {
  padding: 4px 5px 4px 5px;
  background-color: rgb(236, 230, 230);
  border-radius: 10px;
}

.sidebar .table-content > a {
  font-weight: bold;
  font-size: 17px;
  display: block;
  text-decoration: none;
  color: black;
  margin: 10px 0px;
}

.sidebar .table-content > a:hover {
  font-weight: bolder;
  font-size: 19px;
  color: red;
  font-weight: bold;
}

.academic-ids {
  margin-top: 50px;
}

.accounts {
  margin: 15px 0px;
}

.block-title {
  font-size: 25px;
  font-weight: bold;
}

.scholar-logo > img {
  height: 40px;
  width: 40px;
}

.main-content {
  margin-left: 300px;
  margin-right: 200px;
  font-family: "Fira Sans", sans-serif;
}

.main-content .contact-details > .name {
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 15px;
}

.main-content .contact-details > .designation {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

.contact-details > .telephone-num {
  margin: 18px 0px;
}

.contact-details > .biosketch {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.box-details > .box {
  display: inline-flex;
  position: relative;
  height: 120px;
  width: 120px;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 30px;
}

#box1 {
  background-color: #00afd1;
}

#box2 {
  background-color: #94c523;
}

#box3 {
  background-color: #f36510;
}

#box4 {
  background-color: #6a3da3;
}

#box5 {
  background-color: #6a3da3;
}

#box6 {
  background-color: #0bb586;
}

#box7 {
  background-color: #f8ba01;
}

.box div {
  color: white;
  position: absolute;
  left: 50%;
  font-size: 12px;
  transform: translate(-50%, 0);
}

.box .count {
  top: 25%;
  font-size: 30px;
  font-weight: bold;
}

.box .title {
  top: 55%;
}

.box .subtitle {
  top: 70%;
}

.box .subtitle2 {
  top: 80%;
}

.personalInfo {
  margin-top: 20px;
  background-color: #f9f9f9;
  box-shadow: 2.5px 2.5px 2px 1px rgba(44, 43, 43, 0.2);
}
.personalInfo-title {
  margin-top: 30px;
  font-weight: bold;
}
.personalInfo p {
  line-height: 25px;
  font-size: 14px;
}
.personalInfo h4 {
  font-weight: bold;
  font-size: 16px;
}

.personalInfo .col1 {
  padding-left: 10px;
  display: inline-block;
}
.personalInfo .col2 {
  margin-left: 90px;
  display: inline-block;
}

.educationQual-title {
  margin-top: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.educationQual-wrapper ul,
li {
  list-style: none;
  padding: 0;
}

.educationQual-wrapper li {
  padding-bottom: 1.5rem;
  border-left: 2px solid #000000;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: -16px;
}
.educationQual-wrapper li:last-child {
  border: 0px;
  padding-bottom: 0;
}
.educationQual-wrapper li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: rgb(255, 0, 0);
  border: 1px solid #ff0000;
  /* box-shadow: 3px 3px 0px #ff0000; */
  /* box-shadow: 3px 3px 0px #ff0000; */
  border-radius: 50%;
  position: absolute;
  left: -9px;
  top: 0px;
}

.educationQual-wrapper li p {
  margin-top: -2.5px;
}
.educationQual-wrapper li b {
  font-weight: bolder;
}
.educationQual-wrapper {
  margin-top: 20px;
  padding: 25px;
  padding-bottom: 15px;
  background-color: #f9f9f9;
  box-shadow: 2.5px 2.5px 2px 1px rgba(44, 43, 43, 0.2);
}

.experience-title {
  margin-top: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.card {
  background-color: burlywood;
  padding: 1rem;
  width: 399px;
  height: 85px;
  /* margin: 0 auto; */
  display: inline-block;
  margin-bottom: 25px;
  color: white !important;
  font-weight: black !important;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-size: 19px;
  line-height: 20px;
  /* or 65% */

  text-transform: uppercase;
}

.card.one,
.card.three {
  margin-right: 20px;
}
.cardTitle {
  font-size: 19px;
}
.cardText {
  font-size: 23px;
}
.card.one {
  background-color: #17a2b8;
}
.card.two {
  background-color: #f8ba01;
}

.card.three {
  background-color: #29972f;
}

.card.four {
  background-color: #6a3da3;
}

.experienceBody .post {
  margin-bottom: 15px;
  color: #002d68;
}
.experienceBody .time {
  font-weight: 900;
  font-size: 18px;
}

.experienceBody {
  /* margin-left: -10px; */
  margin-top: 15px;
  background-color: #f9f9f9;
  box-shadow: 2.5px 2.5px 2px 1px rgba(44, 43, 43, 0.2);
  padding: 15px 5px;
  padding-top: 25px;
  padding-left: 30px;
}

.experienceBody ul,
li {
  list-style: none;
  padding: 0;
}

.experienceBody li {
  padding-bottom: 1.5rem;
  border-left: 2px solid #000000;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: -16px;
}
.experienceBody li:last-child {
  border: 0px;
  padding-bottom: 0;
}
.experienceBody li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: rgb(255, 0, 0);
  border: 1px solid #ff0000;
  /* box-shadow: 3px 3px 0px #ff0000; */
  /* box-shadow: 3px 3px 0px #ff0000; */
  border-radius: 50%;
  position: absolute;
  left: -9px;
  top: 0px;
}

.experienceBody li p {
  margin-top: -2.5px;
}

.expertiseInfo-title {
  margin-top: 45px;
  font-weight: bold;
  padding-bottom: 15px;
}

.expertiseInfo-body {
  background-color: #f9f9f9;
  box-shadow: 2.5px 2.5px 2px 1px rgba(44, 43, 43, 0.2);
  padding: 15px 5px;
  padding-left: 30px;
}

.projGuide-title {
  margin-top: 45px;
  font-weight: bold;
  padding-bottom: 15px;
}
